<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>Sales App Accounts Page</title>
</head>
<body>
<h1>Sales App Accounts</h1>
<div>
    Sales App Accounts page <br />
    <strong>{{ boldmessage }}</strong><br />
</div>
<div>
    {% if customers %}
    <ul>
        {% for customer in customers %}
            <li>{{ customer.accountnum }} - {{ customer.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>No customers</strong>
    {% endif %}
</div>
<div>
    <a href="/salesapp/">Index</a><br />
    <a href="/salesapp/about/">About</a><br />
    <a href="/salesapp/accounts/">Accounts</a><br />
    <a href="/salesapp/products/">Products</a><br />
    <img src="{% static 'images/logo.png' %}" alt="Holts Logo" />
</div>
</body>
</html>
