<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>Sales App
        {% block title_block %}
            base
        {% endblock %}
    </title>
</head>
<body>
    <img src="{% static 'images/logo.png' %}" alt="Holts Logo" />

    <hr />

    <div>
        {% block body_block %}
        {% endblock %}
    </div>

    <div>
        <ul>
                <li><a href="/salesapp">Index</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_password_change' %}">Change Password</a></li>
                <li><a href="{% url 'auth_logout' %}?next=/salesapp/">Logout</a></li>
                <li><a href="{% url 'customers' %}">Accounts</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'add_product' %}">Add Product</a></li>
                <li><a href="{% url 'add_customer' %}">Add Customer</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>

</body>
</html>
