<!DOCTYPE html>
{% extends 'salesapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Cart page
{% endblock %}

{% block body_block %}

    <h1>Cart Page</h1>

<div>

        <div>
        {% if cartitems %}
            <ul>
            {% for cartitem in cartitems %}
                <li style="list-style:none; border-bottom:1px solid gray; padding-bottom:10px; margin-bottom:10px;">
                    <div>
                        <b>UserID:</b>{{ cartitem.user_id }}<br/>
                        <b>Qty:</b>{{ cartitem.quantity }}<br/>
                        <b>ItemID:</b>{{ cartitem.itemid_id }}<br/>
                        <b>Brand:</b>{{ product.brand }}<br/>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            </ul>
                <strong>No cart items</strong>
        {% endif %}
        </div>
    <!-- More code -->
    </div>

{% endblock %}

