<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>Sales App Home Page</title>
</head>
<body>
<h1>Sales App homepage</h1>
<div>
    Sales App index page <br />
    <strong>{{ boldmessage }}</strong><br />
</div>
<div>
    <a href="/salesapp/">Index</a><br />
    <a href="/salesapp/about/">About</a><br />
    <a href="/salesapp/accounts/">Accounts</a><br />
    <a href="/salesapp/products/">Products</a><br />
    <img src="{% static 'images/logo.png' %}" alt="Holts Logo" />
</div>
</body>
</html>
