<!DOCTYPE html>
{% extends 'salesapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Products Page
{% endblock %}

{% block body_block %}

    <div>
        <div>
        {% if products %}
            <ul style="list-style:none; text-align:center;">
            {% for product in products %}
                <li style="float:left; width:25%; margin:20px;">
                        <img src="{{ MEDIA_URL }}{{ product.image }}"/>
                    <div>
                        <b><a href="/salesapp/items/{{ product.slug }}">{{ product.itemname }}</a></b><br/>
                        Price per cigar:<br/>
                        <b>${{ product.price }}</b>
                    </div>
                </li>
                {% endfor %}
            {% else %}
                <strong>No products</strong>
            {% endif %}
            </ul>
        </div>
    <!-- More code -->
    </div>

{% endblock %}
