<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>Sales App Products Page</title>
</head>
<body>
<h1>Sales App Products</h1>
<div>
    Sales App Products page <br />
    <strong>{{ boldmessage }}</strong><br />
</div>
<div>
    {% if products %}
    <ul>
        {% for product in products %}
            <li>{{ product.itemid }} - {{ product.itemname }} - {{ product.brand }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>No products</strong>
    {% endif %}
</div>
<div>
    <a href="/salesapp/">Index</a><br />
    <a href="/salesapp/about/">About</a><br />
    <a href="/salesapp/accounts/">Accounts</a><br />
    <a href="/salesapp/products/">Products</a><br />
    <img src="{% static 'images/logo.png' %}" alt="Holts Logo" />
</div>
</body>
</html>
