<!DOCTYPE html>
{% extends 'salesapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ product.itemname }}
{% endblock %}

{% block body_block %}

    <div>
        <div>
            <ul style="list-style:none; text-align:center;">
                <li style="float:left; width:25%; margin:20px;">
                        <img src="/{{ product.image }}"/>
                    <div>
                        <b>{{ product.itemname }}</b><br/>
                        Price per cigar:<br/>
                        <b>${{ product.price }}</b>
                        <p>{{ product.notes }}</p>
                    </div>

                    <form method="post" action="/salesapp/add_CartItem/{{ product.slug }}/" class="cart">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {{ field.errors }}
                            {{ field.help_text }}
                            {{ field }}
                        {% endfor %}
                         <br />
                         <input type="submit" value="Add To Cart" name="submit" alt="Add To Cart" />
                    </form>
                    <div class="cb"></div>
                </li>
            </ul>
        </div>
    <!-- More code -->
    </div>

{% endblock %}
